@model TPP3.Models.Person

@{
    ViewData["Title"] = "Search";
}

<h1 style="color:hotpink"> Please enter the first name and the country </h1>
<br />




<div class="row">
    <div class="col-md-4">
        <form asp-action="search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input name="first_name" asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input name="country" asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    @{
        if (ViewBag.notFound)
        {
            <div class="alert-danger" style="font-size:30px">
                Person not found .Please verify the informations !
            </div>

        }
    }
    <br />
    <a asp-action="All" style="font-size:20px">Return to List</a>
</div>
